dist*
static/tmp/
static/combined/
static/fay-runtime.js
static/faygen*.js
config/client_session_key.aes
*.hi
*.o
*.sqlite3
fay/Fay/Yesod.hs
.hsenv*
cabal-dev/
yesod-devel/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
*.swp
